body {
  font-family: Arial, Helvetica, sans-serif;
}

.cabecera {
  background-color: rgb(33, 32, 32);
  color: rgb(240, 255, 255);
  width: 100%;
  text-align: center;
  padding: 0px 0px 10px 0px;
  position: fixed;
}

.titulo {
  padding: 20px 0px 20px 0px;
  font-size: large;
  font-weight: bold;
}

.menu {
  display: inline-block;
  border: 2px solid rgb(240, 255, 255);
  padding: 15px 15px 15px 15px;
  font-size: x-small;
}

.cuerpo {
  background-color: rgb(230, 230, 230);
  padding: 120px 0px 1px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  flex-wrap: wrap;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tarjeta {
  background-color: rgb(255, 255, 255);
  width: 250px;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgb(207, 207, 207);
}

.tarjeta img {
  width: 230px;
  height: 350px;
}

.texto {
  padding: 10px 0px 10px 10px;
  font-weight: bold;
}

h3 {
  font-size: larger;
}

a {
  padding: 10px 0px 0px 10px;
}

@media only screen and (min-width: 500px) {
  .titulo {
    font-size: xx-large;
  }

  .tarjeta {
    width: 500px;
    margin: 25px 0px 25px 0px;
  }

  .tarjeta img {
    width: 450px;
    height: 600px;
  }

  .texto {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0px 10px 25px;
    font-weight: bold;
  }

  a {
    padding: 15px 0px 0px 25px;
  }

  h3 {
    font-size: x-large;
  }
}
