body {
    font-family: Arial, Helvetica, sans-serif;
}

.cabecera {
  background-color: rgb(33, 32, 32);
  color: rgb(240, 255, 255);
  text-align: center;
  padding: 0px 0px 10px 0px;
}

.titulo {
    padding: 20px 0px 20px 0px;
    font-size: large;
    font-weight: bold;
}

.menu {
    display: inline-block;
    border: 2px solid rgb(240, 255, 255);
    padding: 15px 15px 15px 15px;
    font-size: x-small;
}

.cuerpo {
  background-color: rgb(230, 230, 230);
  padding: 1% 0% 1% 0%;
  display: flex;
  justify-content: space-evenly;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tarjeta {
  background-color: rgb(255, 255, 255);
  width: 250px;
  /* height: 380px; */
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tarjeta img {
  width: 230px;
  height: 350px;
}

.texto {
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}

h3 {
    font-size: larger;
}




@media only screen and (min-width: 500px) {
    .tarjeta {
      width: 500px;
    }
  
    .tarjeta img {
      width: 450px;
      height: 600px;
    }

    .texto {
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px 0px 10px 0px;
        font-weight: bold;
    }
    
    h3 {
        font-size: x-large;
    }
  }